html {background-color: #d8f995;}

.logo {
  font-size: 3rem;
}
h1 {font-size: 2.3rem;}

p, nav ul, ul, body {font-size: 1.35rem}



html body div.audioContainer span.audioCurrentTime {font-size: 1rem;}
html body div.audioContainer span.audioCurrentTime {top: 0rem;}
html body div.audioContainer span.audioCurrentTime {border: 0.063rem solid red;}
html body div.audioContainer span.audioCurrentTime {padding: 0.25rem;}
html body div.audioContainer span.audioCurrentTime {opacity: .75;}

html body div.audioContainer button.audioPlayNextButton {height: 4rem;}


html body div.audioContainer span.audioDuration {padding: 0.25rem;}
html body div.audioContainer span.audioDuration {top: 2rem;}
html body div.audioContainer span.audioDuration {border: 0.063rem solid red;}
html body div.audioContainer span.audioDuration {top: 0rem;}
html body div.audioContainer span.audioDuration {font-size: 1rem;}

html body div.audioContainer {height: 4rem;}
html body div.audioContainer {bottom: .2rem;}

html body div.audioContainer img.audioWaveform {height: 4rem;}

html body div.audioContainer button.audioMainPlayButton {height: 4rem;}
html body div.audioContainer input.audioScrubber {opacity: .7;}
html body div.audioContainer input.audioScrubber {margin-bottom: .2rem;}
