.status-10-color { color: #fcbdbd; background-color: #fcbdbd; }
.status-20-color { color: #e3b7eb; background-color: #e3b7eb; }
.status-20-percentage { width: 0%; }
.status-30-color { color: #ffcd85; background-color: #ffcd85; }
.status-40-color { color: #fff494; background-color: #fff494; }
.status-50-color { color: #c2dfff; background-color: #c2dfff; }
.status-50-percentage { width: 61%; }
.status-80-color { color: #d2f5b0; background-color: #d2f5b0; }
.status-90-color { color: #c9ccc4; background-color: #c9ccc4; }
.status-90-percentage { width: 39%; }
.status-legend-width { width: 14%; }
